<div class="card mt-3">
    <div class="card-header">Candidates</div>
    <div class="card-body">
      <div class="table-responsive">

        <table class="table">
          <thead>
            <tr class="table-active">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col" class="text-right">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidateList; let i = index">
              <th scope="row">{{ i }}</th>
              <td class="capitalize">{{ candidate.name.first }} {{ candidate.name.last }}</td>
              <td>{{ candidate.phone }}</td>
              <td class="text-right"><a routerLink="/candidates/{{i}}" class="btn btn-primary btn-sm">Detail</a></td>
            </tr>
          </tbody>
        </table>

        <div class="preloading" [hidden]="candidateList">
            <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>

      </div>
  </div>
</div>

