<div class="card mt-3">
    <div class="card-header">
      Candidate Details
      <a routerLink="/candidates" class="float-right">&laquo; Back to Candidates</a>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-8">

          <ul class="list-group mb-3">
            <li class="list-group-item  d-flex justify-content-between align-items-center">
              <h4>Id:</h4>
              <p>{{ candidateId }}</p>
            </li>

            <li class="list-group-item  d-flex justify-content-between align-items-center">
              <h4>Name:</h4>
              <p class="capitalize">{{ candidate.name.first }} {{ candidate.name.last }}</p>
            </li>

            <li class="list-group-item  d-flex justify-content-between align-items-center">
              <h4>Gender:</h4>
              <p class="capitalize">{{ candidate.gender }}</p>
            </li>

            <li class="list-group-item  d-flex justify-content-between align-items-center">
              <h4>Phone:</h4>
              <p>{{ candidate.phone }}</p>
            </li>

            <li class="list-group-item  d-flex justify-content-between align-items-center">
              <h4>Email:</h4>
              <p>{{ candidate.email }}</p>
            </li>
          </ul>
        </div>

        <div class="col-md-4">

            <img width="100%" class="img-fluid rounded" src="{{ candidate.picture.large }}" alt="{{ candidate.name.first }} {{ candidate.name.last }}" />

        </div>
      </div>
    </div>
  </div>
