<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home">Candidate List App</a>
    <ul class="navbar-nav" [hidden]="!showNavigation">
      <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/about-us">About Us</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/candidates">Candidates</a></li>
    </ul>
</nav>
