<div class="jumbotron text-center mt-4">
  <h1 class="display-5">Welcome to <br/><strong>Candidate List App</strong></h1>
  <p class="lead">This app shows some details about the candidates.</p>
  <hr class="my-4">
  <p>Please click on the links you want to navigate below.</p>
  <ul class="nav justify-content-center">
    <li class="nav-item"><a class="btn btn-primary btn-lg" routerLink="/about-us">About Us</a></li>
    <li class="nav-item"><a class="btn btn-primary btn-lg" routerLink="/candidates">Candidates</a></li>
  </ul>
</div>

